{% extends 'cms/cms_base.html' %}
{% from 'common/_macros.html' import static %}

{% block title -%}
    修改密码
{%- endblock %}

{% block page_title -%}
    {{ self.title() }}
{%- endblock %}

{% block head %}
    <script src="{{ static('cms/js/resetpwd.js') }}"></script>
{% endblock %}

{% block main_content -%}
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">旧密码：</span>
                    <input placeholder="请输入原始密码" type="password" class="form-control" name="oldpwd">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span  class="input-group-addon">新密码：</span>
                    <input placeholder="请输入新密码" type="password" class="form-control" name="newpwd">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">确认新密码：</span>
                    <input placeholder="请再次输入新密码" type="password" class="form-control" name="newpwd2">
                </div>
            </div>
            <div class="form-group">
                <button id="submit" class="btn btn-primary">立即保存</button>
            </div>
        </div>
    </form>
{%- endblock %}